.skills{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    width: 100%;
}

.skills-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 12px 0px;
    /* background-color: yellow; */
}

.skills-section-title{
    font-size:24px;
    font-weight: 600;
}

.skills-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

@media only screen and (max-width: 720px) {
    .skills-list{
        max-width: 100%;
        justify-content: flex-start;
    }
    /* .skills-section{
        flex-direction: column;
    } */
}